/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* COMMON */

body {
    font-family: 'Roboto', sans-serif;
}

.container80 {
    width: 80%;
    margin: 0 auto;
}

hr {
    height: 100px;
    background-color: #afebe4;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.container50 {
    width: 50%;
    margin: 0 auto;
}

.button {
    background-color: #fe775a;
    border-radius: 5px;
    padding: 25px 45px;
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.blue-text {
    color: #33475b;
}

.padding-block {
    padding: 35px 0;
}

.text-left {
    text-align: left;
}

.text-centered {
    text-align: center;
}

.text-block {
    line-height: 35px;
    font-size: 20px;
}

.margin-bottom-block {
    margin-bottom: 10%;
}

.margin-block {
    margin: 20px 0;
}

.color-white {
    background-color: white;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Clearfix and cols generiche */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}

/* HEADER */

/* Header-Common */

.header-padding {
    padding: 20px 0;
}

header a {
    color: #32495b;
    text-decoration: none;
}

.text-right {
    text-align: right;
}

header nav li {
    display: inline-block;
}

.inline-middle {
    display: inline-block;
    vertical-align: middle;
}

/* Nav-top */

header .nav-top-left {
    width: 39%;
}

header .nav-top-right {
    width: 60%;
}

header .nav-top {
    background-color: #f4f9fd;
    border-bottom: 1px solid black;
}

header .nav-top-right .login {
    color: #fe775a;
    border: 1px solid #fe775a;
    background-color: #fafcfe;
}

header .nav-top-right .button {
    padding: 10px;
    margin-left: 25px;
}

/* Nav-bottom */

header .logo {
    width: 8%;
}

header .nav-bottom .text-right {
    width: 91%;
}

header .nav-bottom nav li {
    margin-left: 20px;
}

/* Jumbotron */

header .jumbotron {
    background-image: url(../img/jumbotron.png);
    height: 600px;
    /* Questa altezza deve rimanere fissa per 
    l'effetto del background-image */
    background-repeat: no-repeat;
    background-position: 100% 12%;
    background-color: #fef5ef;
}

header .teaser {
    width: 49%;
}

header h1 {
    padding-top: 12%;
    font-size: 3vw;
}

header .jumbotron-button .button {
    padding: 3%
}

/* MAIN */

/* Common Main */

main ul li i {
    color: #fe775a;
    padding-right: 15px;
}

.number {
    font-size: 53px;
    font-weight: 900;
}

/* Section 1 Benefit  */

main .benefit {
    background-color: #f4f9fd;
}

.benefit .container50 img {
    width: 50%;
}

/* Feature */

/* Crm */

.feature .crm {
    padding: 5%;
}

.feature .crm .left {
    width: 20%;
}

.feature .crm .right {
    width: 80%;
    padding-left: 9%;
}

.feature .crm-report li {
    display: inline-block;
}

.feature .crm-logo img {
    width: 65%;
}

.feature h3 {
    text-transform: uppercase;
}

.feature .crm .right .line {
    /* TODO: capire se è possibile farlo con :after */
    width: 60%;
    height: 10px;
    display: inline-block;
    margin-left: 100px;
    border-bottom: 3px solid #899397;
}

/* Benefit colums */

.benefit-colums .col {
    width: 30%;
    padding: 2% 4%;
}

.benefit-colums .col:nth-child(2) {
    margin: 0 5%;
}

.benefit-colums img {
    height: 100px;
}

/* TODO: capire se è possibile farlo con after e copiare quella nel crm-right */

.benefit-colums .line {
    width: 100%;
    height: 10px;
    display: inline-block;
    border-bottom: 3px solid #899397;
}

.benefit .button {
    margin: 0px 80px;
}

/* Section 2 Result */

/* Title */

main .result {
    background-color: #00b8ab;
    color: white;
    padding: 30px 0 100px 0;
}

main .result h2 {
    font-size: 48px;
}

/* Grid top and bottom*/

.result .grid-top .col, .result .grid-bottom .col {
    width: 25%;
    padding: 3%;
}

.result .grid-top .col {
    border-bottom: 1px solid white;
}

.grid-top .col:nth-child(2), .grid-bottom .col:nth-child(2) {
    border-left: 1px solid white;
}

.grid-top .col:nth-child(3), .grid-bottom .col:nth-child(3) {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.result img {
    height: 50px;
    margin-bottom: 10px;
}

.result .number:after {
    content: "+";
    font-size: 34px;
    font-weight: normal;
    vertical-align: middle;
    margin-left: 10px;
}

.result span {
    font-size: 15px;
    margin-top: 15px;
    display: inline-block;
}

.grid-bottom:last-child img {
    height: 35px;
}

/* Section 3 Growth */

main .growth {
    padding: 6%;
}

main .growth-sponsor {
    padding: 6% 0% 6% 20%;
}

.growth .col.left {
    width: 30%;
}

.growth .col.right {
    width: 70%;
}

.growth-text {
    line-height: 45px;
    font-size: 30px;
}

.growth-sponsor li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
}

.growth-sponsor img {
    width: 150px;
    margin-bottom: 15px;
}

/* Section 4 Begin */

.begin {
    margin-bottom: 2%;
}

.begin .col.left, .begin .col.right {
    width: 50%;
}

.begin h2 {
    font-size: 50px;
}

.begin img {
    width: 350px;
}

/* FOOTER */

footer {
    background-color: #32495b;
    color: white;
    padding: 1% 0;
}

/* List-footer */

footer a {
    color: white;
}

footer li {
    margin-bottom: 4%;
}

footer h3 {
    font-weight: 900;
}

.list-footer .col {
    width: 25%;
    padding: 2% 2%;
}

footer .button {
    padding: 4%;
    display: inline-block;
    margin: 4% 0;
}

footer .icon i {
    padding: 4% 3%;
    font-size: 120%;
}

/* Languages */

footer .languages a {
    padding-right: 3%;
}

footer .line {
    border: 1px solid white;
    margin: 2% 0;
}

/* Copyright */

footer .copyright .col {
    width: 50%;
}

.copyright .logo img {
    width: 20%;
}

.copyright .logo i {
    font-size: 85%;
}

.copyright a {
    margin-left: 5%;
}