/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* COMMON */

body {
    font-family: 'Roboto', sans-serif;
}

.container80 {
    width: 80%;
    margin: 0 auto;
}

.button {
    background-color: #fe775a;
    border-radius: 5px;
    padding: 8px;
    color: white;
    font-size: 16px;
}

/* Clearfix and cols generiche */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}

/* HEADER */

/* Header-Common */

header .padding {
    padding: 20px 0;
}

header a {
    color: #32495b;
    text-decoration: none;
}

.text-right {
    text-align: right;
}

/* Nav-top */

header .nav-top {
    background-color: #f4f9fd;
    border-bottom: 1px solid black;
}

header .left {
    width: 20%;
}

header .right {
    width: 80%;
}

header nav li {
    display: inline-block;
}

header nav .left li {
    margin-right: 20px;
}

header nav .right li, header .nav-bottom nav li {
    margin-left: 20px;
}

header .right .login {
    color: #fe775a;
    border: 1px solid #fe775a;
    background-color: #fafcfe;
}

header .border-right {
    border-right: 1px solid #899397;
    padding-right: 20px;
}

/* Nav-bottom */

header .logo {
    width: 8%;
    display: inline-block;
    vertical-align: middle;
}

header .nav-bottom .text-right {
    display: inline-block;
    width: 91%;
    vertical-align: middle;
    padding: ;
}