/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* COMMON */

body {
    font-family: 'Roboto', sans-serif;
}

.container80 {
    width: 80%;
    margin: 0 auto;
}

.container50 {
    width: 50%;
    margin: 0 auto;
}

.button {
    background-color: #fe775a;
    border-radius: 5px;
    padding: 25px 45px;
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.blue-text {
    color: #33475b;
}

.padding-block {
    padding: 35px 0;
}

.text-centered {
    text-align: center;
}

.text-block {
    line-height: 35px;
    font-size: 18px;
}

.margin-block {
    margin-bottom: 40px;
}

/* Clearfix and cols generiche */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}

/* HEADER */

/* Header-Common */

header .padding {
    padding: 20px 0;
}

header a {
    color: #32495b;
    text-decoration: none;
}

.text-right {
    text-align: right;
}

/* Nav-top */

header .nav-top {
    background-color: #f4f9fd;
    border-bottom: 1px solid black;
}

header .left {
    width: 20%;
}

header .right {
    width: 80%;
}

header nav li {
    display: inline-block;
}

header nav .left li {
    margin-right: 20px;
}

header nav .right li, header .nav-bottom nav li {
    margin-left: 20px;
}

header .right .login {
    color: #fe775a;
    border: 1px solid #fe775a;
    background-color: #fafcfe;
}

header .right .button {
    padding: 8px;
}

header .border-right {
    border-right: 1px solid #899397;
    padding-right: 20px;
}

/* Nav-bottom */

header .logo {
    width: 8%;
    display: inline-block;
    vertical-align: middle;
}

header .nav-bottom .text-right {
    display: inline-block;
    width: 91%;
    vertical-align: middle;
}

/* Jumbotron */

header .jumbotron {
    background-image: url(../img/jumbotron.png);
    height: 600px;
    background-repeat: no-repeat;
    background-position: 100% 12%;
    background-color: #fef5ef;
    /* test, da togliere quando abbiamo i margini corretti del testo al suo interno */
    /* height: 600px; */
}

header .teaser {
    width: 49%;
    height: 600px;
}

header h1 {
    padding-top: 12%;
    font-size: 60px;
}

header .jumbotron-button .button {
    padding: 25px 45px;
}

header .teaser span {
    margin-bottom: 20px;
}

/* Line Spacing */

.line-spacing {
    height: 100px;
    background-color: #afebe4;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

/* MAIN */

/* Section 1 */

/* Benefit */

main .benefit {
    background-color: #f4f9fd;
}

main .benefit .container50 img {
    width: 50%;
    margin-top: 0 auto;
}

/* Feature */

main .feature {
    background-color: white;
}

/* Crm */

main .crm-logo {
    width: 25%;
    padding: 70px 0;
    display: inline-block;
}

main .crm-logo img {
    width: 40%;
}

main .crm-report {
    width: 70%;
    display: inline-block;

    /* test */

    border: 1px solid black;
}

main .crm-report li{
    display: inline-block;
}

